extends layout

block content
	.container
		.row
			.span12
				.hero-unit
					h2 About Spark
					p Spark is a simple product that connects your lights to the internet so you can control them from a smartphone, tablet, or computer.
					p The Spark Socket screws into any standard lightbulb socket, and connects to the internet over the Wi-Fi connection in your home, so that you can control your lights from a smartphone, tablet, or computer. Spark can make your life simpler, more streamlined and, just maybe, a little more fun.
		.row
			.span3.visible-desktop#pressnav
					ul.nav.nav-tabs.nav-stacked#pressnavbar
						li
							a(href="#branding") Branding
						li
							a(href="#images") Product images
						// li
							a(href="#video") Video clips
						li
							a(href="#pr") Press releases
						li
							a(href="#other") More about Spark
						li
							a(href="#contact") Contact
					.well
						address
							strong Spark Devices
							br
							| 400 S 4th St, Suite 401-213
							br
							| Minneapolis, MN 55415
							br
							br
							| For press inquiries,
							br
							| please contact Stephanie:
							br
							a(href="mailto:stephanie@sparkdevices.com") stephanie@sparkdevices.com
			.span9.pull-right
				#branding
					h2 Branding &nbsp;
						a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-branding.zip") Download ZIP of all files
					ul.thumbnails
						li.span3
							.thumbnail
								img(src="https://s3.amazonaws.com/spark-press-assets/spark-vertical.png")
								h4 Vertical orientation
								ul
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-vertical.png") Download PNG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-vertical.jpg") Download JPG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-vertical.eps") Download EPS
						li.span3
							.thumbnail
								img(src="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.png")
								h4 Horizontal orientation
								ul
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.png") Download PNG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.jpg") Download JPG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.eps") Download EPS
						li.span3
							.thumbnail
								img(src="https://s3.amazonaws.com/spark-press-assets/spark-mark.png")
								h4 Mark alone
								ul
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-mark.png") Download PNG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-mark.jpg") Download JPG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-mark.eps") Download EPS
				#images
					h2 Product images &nbsp;
						a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-pics.zip") Download ZIP of JPGs
						a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-pics-high-res.zip") Download ZIP of high-res JPGs
					ul.thumbnails
						- for (i = 1; i<10; i++)
							li.span3
								.thumbnail
									img(src="https://s3.amazonaws.com/spark-press-assets/spark-00#{i}.jpg")
									h4 Picture #{i}
									a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-00#{i}.jpg") Download JPG									
									a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-high-res-00#{i}.jpg") Download high-res JPG
						- for (i = 10; i < 17; i++)
							li.span3
								.thumbnail
									img(src="https://s3.amazonaws.com/spark-press-assets/spark-0#{i}.jpg")
									h4 Picture #{i}
									a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-0#{i}.jpg") Download JPG						
									a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-high-res-0#{i}.jpg") Download high-res JPG						
				// #video
					h2 Video clips
					ul.thumbnails
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
				#pr
					h2 Press releases
					.well
						h4 Launch announcement: October 24, 2012
						a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-press-release-announcement-20121024.pdf") Download PDF
				#other
					h2 More about Spark
					.well
						h4 Team bios
						a.btn(href="#") Download PDF
					.well
						h4 FAQs
						a.btn(href="#") Download PDF
				#contact
					h2 Contact information
					.well
						address
							strong Spark Devices
							br
							| 400 S 4th St, Suite 401-213
							br
							| Minneapolis, MN 55415
							br
							br
							| For press inquiries,
							br
							| please contact Stephanie:
							br
							a(href="mailto:stephanie@sparkdevices.com") stephanie@sparkdevices.com
	script(src="/javascripts/bootstrap-affix.js")
	script(src="/javascripts/bootstrap-scrollspy.js")